<div>
    <b-alert variant="danger" :show="errorAlert">
        <pre class="my-4">Something went wrong</pre>
        <pre class="my-4">Message: {{errorMsg}}</pre>
        <p class="my-4">Status: {{statusCode}}</p>
    </b-alert>

    <div v-if="!errorAlert">
        <b-col md="6" class="my-1">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
        <b-table striped hover responsive :items="players" :fields="fields"
                                          :per-page="perPage" :current-page="currentPage">

        </b-table>
    </div>
</div>