<div>
    <b-alert variant="danger" :show="errorAlert">
        <pre class="my-4">Something went wrong</pre>
        <pre class="my-4">Message: {{errorMsg}}</pre>
        <p class="my-4">Status: {{statusCode}}</p>
    </b-alert>

    <div v-if="!errorAlert">
        <b-alert variant="warning" :show="balanceError"  dismissible>
            <pre class="my-4">Message: {{errorMsg}}</pre>
            <p class="my-4">Status: {{statusCode}}</p>
        </b-alert>
        <b-nav>
        <b-nav-item>
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-nav-item>
            <b-nav-item>
            <b-button size="md" variant="success" @click="openBalance">
                Check balance
            </b-button>
                </b-nav-item>
        </b-nav>
        <b-table striped hover responsive :items="players" :fields="fields"
                                          :per-page="perPage" :current-page="currentPage"/>

        <div v-if="balance">
            <Balance/>
        </div>

    </div>
</div>