<div>
    <b-alert variant="danger" :show="errorAlert">
        <pre class="my-4">Something went wrong</pre>
        <pre class="my-4">Message: {{errorMsg}}</pre>
        <p class="my-4">Status: {{statusCode}}</p>
    </b-alert>

    <div v-if="!errorAlert">
        <b-nav>
            <b-nav-item>
            <b-pagination :total-rows="totalRows" :per-page="perPage"
                          v-model="currentPage" class="my-0"/>

            </b-nav-item>
            <b-nav-item>
        <b-button size="md" variant="success" v-b-modal.announceModal>
                Announce new
            </b-button>
            </b-nav-item>


        </b-nav>
            <b-table striped hover responsive :items="tournaments" :fields="fields"
                 :per-page="perPage" :current-page="currentPage"
                     @row-clicked="showDetails($event)" ref="tbl"></b-table>

        <b-modal id="announceModal" title="Announce a tournament" @ok="handleOK"  @show="handleHide">
            <AnnounceForm />
        </b-modal>

        <b-modal id="tournamentDetails" ref="td" title="Tournament details for "
                 ok-only no-fade>
            <TournamentDetails />
        </b-modal>


        <b-alert variant="danger" :show="formError" dismissible  @dismissed="formError=false">
            <pre class="my-4">Something went wrong</pre>
            <pre class="my-4">Message: {{formAlert.errorMsg}}</pre>
            <p class="my-4">Status: {{formAlert.statusCode}}</p>
        </b-alert>
    </div>
</div>