<div>
    <b-alert variant="danger" :show="errorAlert">
        <pre class="my-4">Something went wrong</pre>
        <pre class="my-4">Message: {{errorMsg}}</pre>
        <p class="my-4">Status: {{statusCode}}</p>
    </b-alert>

    <div v-if="!errorAlert">
        <b-row>
            <b-col cols="1">
            <b-pagination :total-rows="totalRows" :per-page="perPage"
                          v-model="currentPage" class="my-0"/>
            </b-col>

            <b-col cols="2">
        <b-button size="md" variant="success" v-b-modal.announceModal>
                Announce new
            </b-button>

                <b-modal id="announceModal" title="Announce a tournament" @ok="handleOK" @cancel="handleCancel" >
                    <AnnounceForm />
                </b-modal>

                <b-modal id="tournamentDetails" ref="td" title="Tournament details for "
                         ok-only no-fade>
                    <TournamentDetails />
                </b-modal>
            </b-col>
        </b-row>
            <b-table striped hover responsive :items="tournaments" :fields="fields"
                 :per-page="perPage" :current-page="currentPage" @row-clicked="showDetails($event)"></b-table>
    </div>
</div>